& {
  width: 51rem;
  margin: auto;
  padding: 5rem;
  border-radius: 10px;
  box-shadow: 0 0 .2rem rgba(var(--brand-shade-60-rgb), .2);
  color: var(--color-text-primary);

  .formHeader {
    text-align: center;
    margin-bottom: 4rem;
    font-size: 3.6rem;
    color: var(--brand-shade-10);
  }

  .formGroup {
    display: flex;
    flex-direction: column;
  }

  .loginForm {
    display: flex;
    flex-direction: column;

    a {
      display: inline-block;
      text-decoration: none;
      font-size: 1.8rem;
      transition: color 0.2s ease-in-out;
      color: var(--brand);
      margin-top: 1rem;

      &:hover {
        color: var(--brand-shade-10);
      }

      p {
        text-align: center;
        margin: .8rem;
      }
    }

    .error {
      border-color: var(--danger);
    }
  }

  .errorMessage {
    color: var(--danger);
    transform: translateY(6.5rem);
  }

  .formLabel {
    margin-bottom: 1rem;
    font-size: 1.8rem;
    margin-left: 0;
    transition: all .3s;
    transform: translateY(-9.1rem);
  }

  .formInput {
    padding: 1.2rem;
    border-radius: 5px;
    margin-bottom: 1.5rem;
    font-size: 1.6rem;
    background-color: var(--brand-tint-70);
    border: 2px solid var(--brand-tint-50);
    color: inherit;
    outline: none;

    &::placeholder {
      color: var(--light-accent-2);
    }

    &:focus:not(.error) {
      border: 2px solid var(--brand-tint-20);
    }
  }

  .formInput:placeholder-shown:not(.error) {
    & + .formLabel {
      opacity: 0;
      visibility: hidden;
      margin-left: 1.2rem;
      transform: translateY(-5.1rem);
    }
  }

  .submitBtn {
    padding: 10px;
    background-color: var(--brand);
    color: var(--light-shades);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.8rem;
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: var(--brand-shade-10);
      transition: background-color 0.2s ease-in-out;
    }

    &:disabled {
      background: var(--gray-50);
      transition: background-color 0.2s ease-in-out;
      cursor: not-allowed;
    }
  }
}
